body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f5f0;
    direction: rtl;
}

header {
    background-color: #8b4513;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 24px;
}

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    max-width: 1000px;
    margin: auto;
}

.text-content {
    text-align: center;
    line-height: 1.8;
    color: #333;
    margin-bottom: 30px;
}

.text-content h2 {
    color: #6b3d1e;
}

.highlight {
    font-weight: bold;
    color: #8b4513;
}

.image-gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.image-gallery img {
    width: 30%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.back-button-container {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.back-button {
    display: inline-block;
    background-color: #3de767; /* لون بني يشبه لون القهوة */
    color: rgb(32, 11, 11);
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.3s;
}

.back-button:hover {
    background-color: #5A3E1B; /* لون أغمق عند التمرير */
}
